<!-- Banner -->
<!-- <section id="banner" style="background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../assets/images/banner.jpg');"> -->
<section id="banner" style="background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ page.banner-image }}');">
	<div class="inner">
		<h2>{{ page.title }}</h2>
		<p>{{ page.content }}</p>
		<ul class="actions">
			<li><a href="#" class="button special">Visit</a></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>
